<!DOCTYPE html>
<html>
<head>
  <title>Hello, World!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="style.css" />
</head>
<body>

<header>

  <nav class="container">
    <div>LOGO</div>
    <div>Navigation</div>
  </nav>

  <div class="header-container">
     <div class="header-container-inner">
    <h1>A healthy meal delivered to your door, every single day</h1>
    <p>The smart 365-days-per-year food subscription that will make you eat
      healty again. Tailored to your personal tastes and nutritional needs
    </p>
    <a href="#" class="btn">Start eating well </a>
  </div>
</div>

</header>

<section>
  <div class="container">
    <h2>Some random heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  </div>
  
</section>

<hr>

 <div>
  <h2> Accordion Component</h2>
</div>
<hr>

<div>
  <h2> Carousel Component</h2>
</div>
<hr>

<div>
  <h2> Table Component</h2>
  <table>

    <thead>
    <tr>
      <th>Chair</th>
      <th>The Laid Back</th>
      <th>The Worker Bee</th>
      <th>The Chair 4/2</th>
    </tr>
  </thead>

<tbody>
    <tr>
      <th>Width</th>
      <td>80 cm</td>
      <td>60 cm</td>
      <td>220 cm</td>
    </tr>

     <tr>
      <th>Height</th>
      <td>100 cm</td>
      <td>110 cm</td>
      <td>90 cm</td>
    </tr>

     <tr>
      <th>Depth</th>
      <td>70 cm</td>
      <td>60 cm</td>
      <td>80 cm</td>
    </tr>

     <tr>
      <th>Weight</th>
      <td>16 kg</td>
      <td>22 kg</td>
      <td>80 kg</td>
    </tr>
  </tbody>
     
  </table>
</div>
<hr>

<div>
  <h2> Pagination Component</h2>
</div>
<hr>



</body>
</html>